<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Skingambleur</title>
</head>
<body>
<header>
    <div>
        <!-- User Info Section -->
        <div class="user-info">
            <div class="balance-container">
                <button class="add-money-btn">+</button>
                <div class="balance">$ 210.35</div>
            </div>
            <div class="avatar"></div>
            <img src="" alt="Logout" class="logout">
            <!-- Right Arrow -->
            <div class="arrow-container"></div>
        </div>
    </div>
</header>
<main>
    <div>
        <h1 th:text="${caisse.name}"></h1>
<!--        <img th:src="${caisse.image}" alt="">-->
        <p th:text="${caisse.price}"></p>
        <button>Ouvrir</button>
    </div>
    <div>

    </div>
</main>
</body>
</html>
