<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Skingambleur</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <div>
        <!-- User Info Section -->
        <div class="user-info">
            <div class="balance-container">
                <button class="add-money-btn">+</button>
                <div class="balance">$ 210.35</div>
            </div>
            <div class="avatar"></div>
            <img src="" alt="Logout" class="logout">
            <!-- Right Arrow -->
            <div class="arrow-container"></div>
        </div>
    </div>
</header>
<main>
    <a th:href="@{/create-caisse}">Créer une caisse</a>
    <div class="caisses-container">
        <div class="caisse-card" th:each="caisse : ${caisses}">
            <img src="#" alt="image caisse" class="caisse-image">
            <h2 th:text="${caisse.name}">Nom de la caisse</h2>
            <p><strong>Prix :</strong> <span th:text="${caisse.price}">Prix de la caisse</span></p>
        </div>
    </div>
</main>
</body>
</html>
