<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Skingambleur</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
    <div class="header-top">
        <p class="skinsgambleur">skinsgambleur</p>
        <div>
            <!-- User Info Section -->
            <div class="user-info">
                <div class="balance">€ 210.35</div>
                <button class="add-money-btn">+</button>
                <div class="avatar"></div>
                <img th:src="@{/image/deconnecter.png}" alt="Logout" class="logout">
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div>
            <button class="header-bottom-btns">
                caisses
            </button>
        </div>
        <div>
            <button class="header-bottom-btns">
                combat de caisses
            </button>
        </div>
        <div>
            <button class="header-bottom-btns">
                amélioration
            </button>
        </div>
    </div>
</header>
<main>
    <div class="create-caisse-container">
        <img th:src="@{/image/caisse.webp}" alt="Caisse" class="create-caisse-image">
        <a th:href="@{/create-caisse}" class="create-caisse-btn">Créer ma caisse</a>
    </div>
    <div class="container">
        <div class="cards" th:if="${not #lists.isEmpty(caisses)}">
            <div class="card" th:each="caisse : ${caisses}" th:onclick="|window.location.href='@{/caisse/{name}(name=${caisse.name})}'|">
                <img th:src="@{/image/caisse.webp}" th:alt="${caisse.name}" class="card-image">
                <h3 class="card-title" th:text="${caisse.name}"></h3>
                <p class="card-price" th:text="${#numbers.formatDecimal(caisse.price, 1, 2) + ' $'}"></p>
            </div>
        </div>
        <div class="no-caisses" th:if="${#lists.isEmpty(caisses)}">
            <p>Aucune caisse disponible</p>
        </div>
    </div>
</main>

</body>
</html>
