<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Sign up</title>
</head>
<body>
<div>
    <h1>S'inscrire</h1>
    <form th:action="@{/signup-process}" method="post" th:object="${user}">
        <label for="email">Email: </label>
        <input type="text" id="email" th:field="*{email}">
        <label for="pseudo">Pseudo: </label>
        <input type="text" id="pseudo" th:field="*{pseudo}">
        <label for="password">Mot de passe: </label>
        <input type="password" id="password" th:field="*{password}">
        <label for="confirmPassword">Confirmer mot de passe: </label>
        <input type="password" id="confirmPassword" name="confirmPassword">

        <input type="submit" value="Se connecter">
        <p>Pas de compte ?<a th:href="@{/signup}">S'inscrire</a></p>
    </form>
</div>
</body>
</html>
